.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card_list {
  display: flex;
}

ul {
  list-style-type: none;
}

li {
  width:50px;
  height:100px;
  background-color:rgba(255,255,255,0);
}

.cards {
  border-radius: 5px;
  background-color:rgba(55,55,55,.8);
}
.selectCard {
  border-radius: 5px;
  background-color: rgba(255,255,255,.7);
}

.reset-button-div {
  
}
.reset-button {
  width: 180px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #547cc5;
  margin-bottom: 50px;
}

h1,h2,p,button {
  font-family: "M PLUS 1p";
}

.CardBox { width: 100%; }

@media screen and (max-width:480px){
  #CardList { padding-left:20px; }
}
@media screen and (max-width:781px){
  #CardList { padding-left:20px; }
}

/* popup */
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
.popup-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}
